:root {
    --dark-blue: #052554;
    --darker-blue: #051e44;
    --orange: #ff9170;
}

* {
    font-family: 'Roboto', sans-serif;
}

#content {
    max-width: 1000px;
    padding: 0 2em;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    background: var(--dark-blue);
    font-size: 130%;
    color: #FFF;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}

.ul-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    width: 70%;
}

#logo {
    height: 140px;
    margin: 80px;
}

.li-navbar-item {
    float: left;
    display: block;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    color: #FFF;
    border-radius: 30px;
    transition: all 0.2s;
    background-color: transparent;
}

.a-navbar {
    margin-left: 45px;
    position: relative;
}

.li-navbar-item:hover {
    background-color: var(--darker-blue);
}

.a-navbar {
    color: black;
    text-decoration: none;
}

#bg-gradient {
    background: linear-gradient(195deg, rgba(255,145,112,1) 10%, rgba(255,145,112,0) 40%);
    position: absolute;
    background-size: 200% 200%;
    background-position: 100% 50%;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    animation: bg-gradient 20s ease;
}

@keyframes bg-gradient {
    0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

#bg-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    overflow: hidden;
}

#bg {
    height: 500px;
    width: 500px;
    background-image: url("../img/Textura_FundoAzul_Numih.svg");
    background-attachment: fixed;
    background-size: contain;
    border-radius: 100%;
    position: absolute;
    top: -500px;
    left: -500px;
    animation: bg 50s infinite;
    animation-delay: 3s;
    z-index: -2;
}

#bg-shadow {
    position: absolute;
    height: calc(100% + 20px);
    width: calc(100% + 20px);
    top: -10px;
    left: -10px;
    box-shadow: 0 0 50px 70px var(--dark-blue) inset;
    border-radius: 100%;
}

@keyframes bg {
    0% {
        top: -500px;
        left: -500px;
    }

    20% {
        top: 100%;
        left: 100%;
    }

    100% {
        top: 100%;
        left: 100%;
    }
}

footer {
    display: block;
    padding: 20px 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
}