<!DOCTYPE html>
<html lang="pt-br">
    {% seo %}
    <head>
        <meta charset='utf-8'>
        {% if page.title %}
            <title>{{page.title}}</title>
        {% endif %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/style.css">
    </head>

    <body>
        <div id="bg-container">
            <div id="bg-gradient"></div>
            <div id="bg">
                <div id="bg-shadow"></div>
            </div>
        </div>
        <div id="main">
            {% include header.html %}
            {% include body.html %}
            {% include footer.html %}
        </div>
    </body>
</html>